body{
    background-image: url(../../public/bricks2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    background-image: url(../../public/mist.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}